body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background: #804e9c;
    background: -webkit-linear-gradient(to right, #804e9c, #6f99a8);
    background: linear-gradient(to right, #804e9c, #6f99a8);
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.type-animation {
    font-family: 'Share Tech', sans-serif;
}
